#telegram bot token
WG_BOT_TOKEN = <str>
#ip of your wireguard server
WG_SERVER_IP = <str>
#port of your wireguard server, default 51820
WG_SERVER_PORT = '51820'
#server's public key
WG_SERVER_PUBLIC_KEY = <str>
#server's preshared key
WG_SERVER_PRESHARED_KEY= <str>
#path to wireguard config file, default /etc/wireguard/wg0.conf
WG_CFG_PATH = '/etc/wireguard/wg0.conf'
#token for telegram invoice payments, if you don't use payments, just leave it empty
PAYMENTS_TOKEN = <str>
#your telegram id, you can get it from @userinfobot or @myidbot or @RawDataBot
ADMINS_IDS = <str>
#your bank card number, if you will use payments with "handmade" method
PAYMENT_CARD = <str>

#name of your database
DATABASE = <str>
#database user
DB_USER = <str>
#database user's password
DB_USER_PASSWORD = <str>
#database host, default localhost
DB_HOST = 'localhost'
#database port, default 5432
DB_PORT = '5432'
